*{
    margin: 0;
}

.contenedor{
    background: pink; 
    width: 100vw;
    height: 100vh;
    text-align: center;
}

h1{
    font-size:2.6em ;
    text-align: center;
}
p{
    font-size: xx-large;
    padding: 4.7%;
}

button{
    font-size: x-large;
    padding: 0.55em;
    border-radius: 7px;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}
img{
    width: 125px ;
    height: 125px;
    text-align: center;
    justify-content: center;
}